User::create([
'name' => 'Sun-Bean',
'email' => "Dota_2_Dragon's_Blood@gmail.com",
'password' => bcrypt('Marci')
]);
User::create([
'name' => 'Lona',
'email' => "Dota_3_Dragon's_Blood@gmail.com",
'password' => bcrypt('1234')
]);
User::create([
'name' => 'Sun-Bean',
'email' => "Dota_4_Dragon's_Blood@gmail.com",
'password' => bcrypt('1234')
]);
Post::create([
'title' => 'Marcy',
'slug' => 'marcy',
'category_id' => 2,
'excerpt' => "Admired by many, Marci's origins are known to nameless few. She travels mostly in the company of the Princess Mirana, but the roots of their friendship are entwined in secrets neither would ever needlessly reveal.",
'body' => "Admired by many, Marci's origins are known to nameless few. She travels mostly in the company of the Princess Mirana, but the roots of their friendship are entwined in secrets neither would ever needlessly reveal. To allies, she serves as fierce and honest companion. To enemies, she acts as dauntless deterrence against harming any she deems friend. Though unwise opponents may consider her size unremarkable, Marci possesses an inner power that imbues her strikes with incredible might. She'll decimate those who think to test her, but those who earn her favor will have an unflappable confidant for life",
'user_id' => 1
]);
Post::create([
'title' => 'Mirana',
'slug' => 'mirana',
'category_id' => 1,
'excerpt' => "Born to a royal family, a blood princess next in line for the Solar Throne, Mirana willingly surrendered any claim to mundane land or titles when she dedicated herself completely to the service of Selemene, Goddess of the Moon.",
'body' => "Born to a royal family, a blood princess next in line for the Solar Throne, Mirana willingly surrendered any claim to mundane land or titles when she dedicated herself completely to the service of Selemene, Goddess of the Moon. Known ever since as Princess of the Moon, Mirana prowls the sacred Nightsilver Woods searching for any who would dare poach the sacred luminous lotus from the silvery pools of the Goddess's preserve. Riding on her enormous feline familiar, she is poised, proud and fearless, attuned to the phases of the moon and the wheeling of the greater constellations. Her bow, tipped with sharp shards of lunar ore, draws on the moon's power to charge its arrows of light.",
'user_id' => 1
]);
Post::create([
'title' => 'First Impression',
'slug' => 'first_impression',
'category_id' => 3,
'excerpt' => "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates cumque totam possimus voluptatem nam aperiam non nesciunt accusamus veritatis  deleniti quo, quod quibusdam.",
'body' => "Lorem ipsum, dolor sit amet consecteturadipisicing elit. Adipisci, perferendis neque. Blanditiis dolor neque porro! Harum saepe totam assumenda nihil, cum doloremque voluptatibus numquam, quaerat similique delectus at libero mollitia accusamus, excepturi obcaecati asperiores tempora rem possimus dolore fugiat? Laboriosam excepturi vel maiores expedita ut, minima adipisci sit. Sequi odit repellat at consequuntur ipsa delectus error velit eveniet veritatis excepturi nisi sit dolores placeat laudantium maiores omnis, voluptatibus, iusto rem quaerat autem quod a
dolore fugit porro! Ratione quibusdam, inventore ex nostrum sequi, fugit quia ut officia aut illo facere pariatur accusantium dolorem sit, est aliquid harum eos tempora rem.",
'user_id' => 2
]);
Post::create([
'title' => 'Judul Ke Empat',
'slug' => 'judul_ke_empat',
'category_id' => 3,
'excerpt' => "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates cumque totam possimus voluptatem nam aperiam non nesciunt accusamus veritatis  deleniti quo, quod quibusdam.",
'body' => "Lorem ipsum, dolor sit amet consecteturadipisicing elit. Adipisci, perferendis neque. Blanditiis dolor neque porro! Harum saepe totam assumenda nihil, cum doloremque voluptatibus numquam, quaerat similique delectus at libero mollitia accusamus, excepturi obcaecati asperiores tempora rem possimus dolore fugiat? Laboriosam excepturi vel maiores expedita ut, minima adipisci sit. Sequi odit repellat at consequuntur ipsa delectus error velit eveniet veritatis excepturi nisi sit dolores placeat laudantium maiores omnis, voluptatibus, iusto rem quaerat autem quod a
dolore fugit porro! Ratione quibusdam, inventore ex nostrum sequi, fugit quia ut officia aut illo facere pariatur accusantium dolorem sit, est aliquid harum eos tempora rem.",
'user_id' => 3
]);
Category::create([
'name' => 'WebDesign',
'slug' => 'webdesign'
]);
Category::create([
'name' => 'FullStackDev',
'slug' => 'fullstackdev'
]);
Category::create([
'name' => 'Wibu-Wibu',
'slug' => 'wibu-wibu'
]);
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quisquam ab rem deleniti, animi voluptates ipsam pariatur odit quod cum voluptatibus explicabo, quaerat debitis voluptas dignissimos saepe ipsum officia. Repellendus officia possimus voluptatum, voluptatem ab asperiores impedit eum nobis neque consequuntur perferendis eos, harum ea pariatur quos? Aliquam repellat sequi aperiam fugit, molestiae reprehenderit blanditiis nesciunt dolorem earum laborum. Autem, doloribus beatae. Enim impedit ipsum similique iste, magni unde cumque sit odio cupiditate voluptates eius reiciendis veritatis esse expedita magnam est quos aliquam eum. Facere suscipit ipsam animi, id odio incidunt optio quis voluptate consectetur, inventore eum eius, beatae libero.
